<div class="flex-container">
  <div class="panel">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ex impedit, mollitia nam reiciendis sit.
      Accusantium architecto delectus dolorem eius esse exercitationem inventore laboriosam maiores, numquam odit
      repellendus sapiente! Beatae!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, distinctio facilis fugiat fugit iste
      iusto laudantium libero minus nam, nobis perferendis porro quaerat qui sapiente tempora tenetur veritatis
      voluptatibus!
    </p>

    <div class="flex-item">
      <button class="btn" [appTooltip]="button1Text" tabindex="1">button 1</button>
      <button class="btn" [appTooltip]="button2Text" tabindex="2">button 2</button>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ab at beatae dolore, eum, exercitationem id iure minus nisi odio officiis quasi quo repudiandae tempora totam ut,
      voluptatibus voluptatum. Labore, obcaecati.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi corporis dolorem ducimus ea, enim esse
      fuga minus nisi quasi quisquam quo, tenetur! Consectetur officiis quibusdam saepe sed veritatis? Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. A accusamus asperiores autem consequatur consequuntur debitis deserunt
      eligendi exercitationem, fuga laborum necessitatibus nisi officiis perferendis quia, rem sunt unde ut voluptate.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eos illo magnam minus nisi nostrum velit? Ab
      aliquid aspernatur corporis deleniti facilis incidunt, maxime minus nobis repellat sapiente ullam, ut.
    </p>
  </div>
</div>
