/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.tooltip {
  background-color: lightgray;
  width: 40%;
  max-width: fit-content;
  padding: 10px;
  border-radius: 4px;
  border: 2px gray;
  position: absolute;
}

.tooltip:after {
  content: '';
  position: absolute;
  left: calc(50% - 4px);
}

.tooltip-top:after {
  bottom: -16px;
  border: 8px solid transparent;
  border-top: 8px solid lightgray;
}

.tooltip-bottom:after {
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid lightgray;
}

.btn {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #f9f9f9 linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 12px;
  text-shadow: 0 1px 0 #ffffff;
}

.btn:hover {
  background: #e9e9e9 linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn:focus {
  outline: #a29797 auto 1px;
}

